header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}
.header-menu{
    display: flex;
}
.header-nav{
    margin-left: 3em;
}
.header-nav ul{
    color: hsl(219, 9%, 45%);
    list-style: none;
    display: flex;
}
.header-nav li{
    margin-right: 2em;
}
.header-profile{
    display: flex;
    align-items: center;
}
.header-profile img:nth-child(1){
    margin-right: 2.5em;
    width: 20%;
}
.header-profile img:nth-child(2) {
    width: 40%;
}