@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.scontainer{
    width: 75%;
    margin: 0 auto;
}
.product_div{
    margin-top: 10vh;
    display: flex;
}